Options +FollowSymLinks
RewriteEngine On
RewriteRule ^download.html$ /downloads/ [R=301,L]
RewriteRule ^downloads.html$ /downloads/ [R=301,L]
RewriteRule ^download(/|$) /downloads/ [R=301,L]

RewriteRule ^index(\\.html)? https://iridiumbrowser.de/ [R=301,C]
RewriteRule ^$ index.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
RewriteRule .* ? [F,L]

ErrorDocument 404 /404.html

Header append Vary User-Agent

AddDefaultCharset UTF-8
AddCharset application/font-woff2 .woff2
AddCharset application/x-font-woff2 .woff2

AddType application/pdf .pdf
AddType application/x-font-woff2 .woff2
AddType image/jpeg .jpeg .jpg .jpe .JPG
AddType image/png .png
AddType image/svg+xml .svg .svgz
AddType image/vnd.microsoft.icon .ico
AddType text/html .html .htm
AddType text/css .css
AddType text/xml .xml

<IfModule mod_headers.c>
Header set Content-Security-Policy "script-src 'self' https://iridiumbrowser.de/"
Header always set X-FRAME-OPTIONS "DENY"
Header always set X-XSS-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
<FilesMatch "\.(js|css|xml|gz|html)$">
  Header append Vary: Accept-Encoding
</FilesMatch>
</IfModule>
