---
layout: start-layout
title: A browser securing your privacy. That’s it.
description: "Iridium Browser is based on the Chromium code base. All modifications enhance the privacy of the user and make sure the most secure technologies are used."
menu: no
link: "yes"
structured-data:
  os1: Windows
  os2: macOS
  os3: Ubuntu
  os4: Debian
  os5: Mint
  os6: openSUSE
  os7: Fedora
  os8: Red Hat Enterprise Linux
  os9: CentOS
  os10: source code
  value: 4.9
  count: 1076
sitemap:
  lastmod: 2017-12-05 12:00:00 +0200
  priority: 1.0
  changefreq: 'daily'
---

<!--
	Gravity by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->

<!-- HOME -->
<section id="home">
	<div class="logo"></div>

<!-- MARQUEE -->
	<section id="marquee" class="marquee">
		<div>
		{% for marquee in site.marquee %}
		{{ marquee.content }}
		{% endfor %}
		</div>
	</section>
	
<!-- BANNER -->
	<section id="banner">
		{% for banner in site.banner %}
		{{ banner.content }}
		{% endfor %}
	</section>

<!-- FEATURES -->
	<section id="features" class="wrapper {% for features in site.features limit:1 %}{{ features.style }}{% endfor %} special">
		<div class="container">
			<div class="row uniform">
			{% for features in site.features %}
		<section class="4u 12u(small) align-center">
			<div class="icon {{ features.icon-class }}"></div>
			{{ features.content }}
		</section>
		{% endfor %}
			</div>
		</div>
	</section>
</section>

<!-- NEWS -->
<section id="news-index" class="wrapper {% for post in site.posts limit:1 %}{{ post.style }}{% endfor %} special">
<div class="container">
	<header class="major">
		<h2>Recent News</h2>
		<p>the very latest</p>
	</header>
	

		<div class="first-post">
		{% for post in site.posts limit:1 %}
			<header>
				<h3><a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
				<p><small><span class="icon fa-calendar"></span>{{ post.date | date: "%-d %B %Y" }}</small></p>
			</header>
			{{ post.content }}
		{% endfor %}
		</div>

	<hr/>
	<p>Read all the latest news</p>
	<a class="button big special icon fa-book" href="{{ '/news/' | relative_url }}" title="read all the latest news">news</a>
	
</div>
</section>

<!-- MANIFEST -->
<section id="manifest-index" class="wrapper {% for manifest in site.manifest %}{{ manifest.style }}{% endfor %} special">
<div class="container">
	<header class="major">
		<h2>{% for manifest in site.manifest %} {{ manifest.title }} {% endfor %}</h2>
		<p>{% for manifest in site.manifest %} {{ manifest.subtitle }} {% endfor %}</p>
	</header>
	{% for manifest in site.manifest %}
	{{ manifest.content }}
	{% endfor %}
</div>
</section>

<!-- ABOUT -->
<section id="about-index" class="wrapper {% for about in site.about limit:1 %}{{ about.style }}{% endfor %} special">
<div class="container">
	<header class="major">
		<h2>{% for about in site.about %} {{ about.title }} {% endfor %}</h2>
		<p>{% for about in site.about %} {{ about.subtitle }} {% endfor %}</p>
	</header>
	{% for about in site.about %}
	<div class="icon {{ about.icon-class }}"></div>
	{{ about.content }}
	{% endfor %}

<!-- Developer Logos -->
	<div class="row uniform">
	{% for about-logos in site.data.about-logos %}
	<section class="3u 4u(xlarge) 6u(medium) special">
		<a href="{{ about-logos.link }}" title="{{ about-logos.title }}" target="{{ about-logos.target }}" class="{{ about-logos.logo-class }}" rel="noreferrer"></a>
		<div class="logo-text">{{ about-logos.title }}</div>
	</section>
	{% endfor %}
	</div>
</div>
</section>

<!-- CONTRIBUTE -->
<section id="contribute-index" class="wrapper {% for contribute in site.contribute limit:1 %}{{ contribute.style }}{% endfor %} special">
	<div class="container">
		<header class="major">

			<h2>{% for contribute in site.contribute %} {{ contribute.title }} {% endfor %}</h2>
			<p>{% for contribute in site.contribute %} {{ contribute.subtitle }} {% endfor %}</p>
		</header>
		{% for contribute in site.contribute %}
		<div class="row">
			<div class="2u 2u(xlarge) 3u(large) 12u$(small)">
				<div class="icon {{ contribute.icon-class }}"></div>
			</div>
			<div class="10u$ 10u$(xlarge) 9u$(large) 12u$(small) content">
				<h3>{{ contribute.heading }}</h3>
				{{ contribute.content }}
			</div>
		</div>
		{% endfor %}
	</div>
</section>
