---
layout: start-layout
description: "Iridium Browser is based on the Chromium code base. All modifications enhance the privacy of the user and make sure the most secure technologies are used."
menu: no
sitemap:
  lastmod: 2017-10-30
  priority: 1.0
  changefreq: 'daily'
---

<!--
	Gravity by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->

<!-- HOME -->
<section id="home">
	<div class="logo"></div>

<!-- MARQUEE -->
	<section id="marquee" class="marquee">
		<div>
		{% for marquee in site.marquee %}
		{{ marquee.content }}
		{% endfor %}
		</div>
	</section>
	
<!-- BANNER -->
	<section id="banner">
		{% for home in site.home %}
		{{ home.content }}
		{% endfor %}
	</section>

<!-- FEATURES -->
	<section id="features" class="wrapper {% for features in site.features limit:1 %}{{ features.style }}{% endfor %} special">
		<div class="container">
			<div class="row uniform">
			{% for features in site.features %}
		<section class="4u 12u(small) align-center">
			<div class="icon {{ features.icon-class }}"></div>
			{{ features.content }}
		</section>
		{% endfor %}
			</div>
		</div>
	</section>
</section>

<!-- NEWS -->
<section id="news-index" class="wrapper {% for post in site.posts limit:1 %}{{ post.style }}{% endfor %} special">
<div class="container 75%">
	<header class="major">
		<h2>Recent News</h2>
		<p>from the lab</p>
	</header>
	<!-- Content -->
	<ul class="alt">
		<li>
	<section class="content">
		{% for post in site.posts limit:1 %}
			<header>
				<h3>{{ post.title }}</h3>
				<p><span class="icon fa-calendar-o"></span><small>{{ post.date | date: "%-d %B %Y" }}</small></p>
			</header>
			
			{{ post.content }}
			{% endfor %}
		</li>
	</ul>
		<p>read the latest news</p>
		<a class="button icon fa-file-text" href="{{ '/news/' | relative_url }}" title="read the latest News">News</a>
	</section>
</div>
</section>

<!-- MANIFEST -->
<section id="manifest-index" class="wrapper {% for manifest in site.manifest %}{{ manifest.style }}{% endfor %} special">
<div class="container">
	<header class="major">
		<h2>{% for manifest in site.manifest %} {{ manifest.title }} {% endfor %}</h2>
		<p>{% for manifest in site.manifest %} {{ manifest.subtitle }} {% endfor %}</p>
	</header>
	{% for manifest in site.manifest %}
	{{ manifest.content }}
	{% endfor %}
</div>
</section>

<!-- ABOUT -->
<section id="about-index" class="wrapper {% for about in site.about limit:1 %}{{ about.style }}{% endfor %} special">
<div class="container">
	<header class="major">
		<h2>{% for about in site.about %} {{ about.title }} {% endfor %}</h2>
		<p>{% for about in site.about %} {{ about.subtitle }} {% endfor %}</p>
	</header>
	{% for about in site.about %}
	<div class="icon {{ about.icon-class }}"></div>
	{{ about.content }}
	{% endfor %}

<!-- Developer Logos -->
	<div class="row uniform">
	{% for logos in site.logos %}
	<section class="3u 4u(xlarge) 6u(medium) special">
		<a href="{{ logos.link }}" title="{{ logos.title }}" target="{{ logos.target }}" class="{{ logos.logo-class }}" rel="noreferrer"></a>
		<div class="logo-text">{{ logos.content }}</div>
	</section>
	{% endfor %}
	</div>
</div>
</section>

<!-- CONTRIBUTE -->
<section id="contribute-index" class="wrapper {% for contribute in site.contribute limit:1 %}{{ contribute.style }}{% endfor %} special">
	<div class="container">
		<header class="major">

			<h2>{% for contribute in site.contribute %} {{ contribute.title }} {% endfor %}</h2>
			<p>{% for contribute in site.contribute %} {{ contribute.subtitle }} {% endfor %}</p>
		</header>
		{% for contribute in site.contribute %}
		<div class="row">
			<div class="2u 2u(xlarge) 3u(large) 12u$(small)">
				<div class="icon {{ contribute.icon-class }}"></div>
			</div>
			<div class="10u$ 10u$(xlarge) 9u$(large) 12u$(small) content">
				<h4>{{ contribute.heading }}</h4>
				{{ contribute.content }}
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<!-- Microdata -->
<script type="application/ld+json">
[
		{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"name": "{{ site.title }}",
		"url": "{{ site.url | append: site.baseurl }}",
		"keywords": "{{ site.keywords }}",
		"description": "{{ site.description }}"
	},
	{
		"@context": "http://schema.org/",
		"@type": "SoftwareApplication",
		"name": "{{ site.title }}",
		"url": "{{ site.url }}",
		"downloadUrl": "{{ '/downloads/' | absolute_url }}",
		"description": "{{ site.description }}",
		"applicationCategory": "Browser",
		"operatingSystem": "Windows, Mac OS-X, Ubuntu, Debian, openSUSE, Fedora Red Hat Enterprise Linux",
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "5",
			"ratingCount": "3743"
		},
		"image": {
			"@type": "ImageObject",
			"height": "200",
			"width": "200",
			"contentUrl": "{{ site.hotpic | absolute_url }}",
			"url": "{{ site.url | append: site.baseurl}}"
		},
		"offers": {
		"@type": "Offer",
		"priceCurrency": "EUR",
		"price": "0.00"		
		}
	},
	{ 
		"@context": "http://schema.org",
		"@type": "Product",
		"aggregateRating": {
			"@type": "AggregateRating",
			"bestRating": "100",
			"ratingCount": "421",
			"ratingValue": "87"
		},
		"name": "{{ site.title }}",
		"url": "{{ site.url | append: site.baseurl}}",
		"description": "{{ site.description }}",
		"image": {
			"@type": "ImageObject",
			"height": "200",
			"width": "200",
			"contentUrl": "{{ site.hotpic | absolute_url }}",
			"url": "{{ site.url | append: site.baseurl}}"
		},
		"offers": {
			"@type": "Offer",
			"priceCurrency": "EUR",
			"price": "0.00"		
		}
	}
]
</script>
