---
layout:			layout_start
title:			A browser securing your privacy. That’s it.
description:	"Iridium Browser is based on the Chromium code base. All modifications enhance the privacy of the user and make sure the most secure technologies are used."
menu:			no
link:			"yes"
structured-data:
  os1: Windows
  os2: macOS
  os3: Ubuntu
  os4: Debian
  os5: Mint
  os6: openSUSE
  os7: Fedora
  os8: Red Hat Enterprise Linux
  os9: CentOS
  os10: source code
  value: 4.9
  count: 1076
sitemap:
  lastmod: 2018-12-27 16:00:00 +0100
  priority: 1.0
  changefreq: 'daily'
---

<!--
	Gravity by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->

<!-- HOME -->
	<div id="home">
		<div class="logo"></div>{% for marquee in site.marquee %}{% if marquee.show == "yes" %}
	<!-- Marquee -->
		<section id="marquee" class="marquee">
			<div>
				{{ marquee.content }}
			</div>
		</section>{% endif %}{% endfor %}
	<!-- Banner -->
		<section id="banner">{% 
		for banner in site.banner %}
			<h2>{{ banner.title }}</h2>
			<button type="submit" onclick="uaParser()" title="download Iridium Browser" class="button large download">download</button>
			{{ banner.content | strip_newlines }}
		{% endfor %}</section>
	<!-- Features -->
		<div id="features" class="wrapper {% for features in site.features limit:1 %}{{ features.style }}{% endfor %} special">
			<div class="container">
				<div class="row gtr-uniform gtr-200">{% for features in site.features %}
					<section class="col-4 col-12-small align-center">
						<div class="icon {{ features.icon-class }}"></div>
						<h3>{{ features.title }}</h3>
						{{ features.content | strip_newlines }}
					</section>{% endfor %}
				</div>
			</div>
		</div>
	</div>
<!-- NEWS -->
	<section id="news-index" class="wrapper {% for post in site.posts limit:1 %}{{ post.style }} {% endfor %}special">
		<div class="container">
			<header class="major">
				<h2>Recent News</h2>
				<p>the very latest</p>
			</header>
			<div class="first-post">{% 
			for post in site.posts limit:1 %}
				<header>
					<h3><a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
					<p class="date icon fa-calendar">{{ post.date | date_to_long_string }}</p>
				</header>
				{{ post.content | strip_newlines }} {% 
			endfor %}
			</div>
			<hr/>
			<p>Read all the latest news</p>
			<a class="button special icon fa-file-text" href="{{ '/news/' | relative_url }}" title="read all the latest news">news</a>
		</div>
	</section>
<!-- MANIFEST -->
	<section id="manifest-index" class="wrapper {% for manifest in site.manifest %}{{ manifest.style }}{% endfor %} special">
		<div class="container">
			<header class="major">{% 
			for manifest in site.manifest limit:1 %}
				<h2>{{ manifest.title }}</h2>
				<p>{{ manifest.subtitle }}</p>{% 
			endfor %}
			</header>{% 
			for manifest in site.manifest %}
			{{ manifest.content | strip_newlines }}{% 
			endfor %}
		</div>
	</section>
<!-- ABOUT -->
	<section id="about-index" class="wrapper {% for about in site.about limit:1 %}{{ about.style }}{% endfor %} special">
		<div class="container">
			<header class="major">{% 
			for about in site.about limit:1 %} 
				<h2>{{ about.title }}</h2>
				<p>{{ about.subtitle }}</p>{% 
			endfor %}
			</header>{% 
			for about in site.about %}
			<div class="icon {{ about.icon-class }}"></div>
			{% if about.heading contains 'Backed by Serious People' %} <hr/>{% endif %}
				<h3>{{ about.heading }}</h3>
				{{ about.content | strip_newlines }}{% 
			endfor %}
			<!-- Developer Logos -->
			<div class="row gtr-uniform gtr-100">{% 
			for about-logos in site.data.about-logos %}
				<div class="col-3 col-4-xlarge col-6-medium special">
					<a href="{{ about-logos.link }}" title="{{ about-logos.title }}" class="{{ about-logos.logo-class }}"></a>
					<p class="logo-text">{{ about-logos.title }}</p>
				</div>{% 
			endfor %}
			</div>
		</div>
	</section>
<!-- CONTRIBUTE -->
	<section id="contribute-index" class="wrapper {% for contribute in site.contribute limit:1 %}{{ contribute.style }}{% endfor %} special">
		<div class="container">
			<header class="major">{% 
			for contribute in site.contribute limit:1 %}
				<h2>{{ contribute.title }}</h2>
				<p>{{ contribute.subtitle }}</p>{% 
			endfor %}
			</header>{% 
			for contribute in site.contribute %}
			<div class="row">
				<div class="col-2 col-2-xlarge col-3-large col-12-small">
					<div class="icon {{ contribute.icon-class }}"></div>
				</div>
				<div class="col-10 col-10-xlarge col-9-large col-12-small content">
					<h3>{{ contribute.heading }}</h3>
					{{ contribute.content | strip_newlines }}
				</div>
			</div>{% 
			endfor %}
		</div>
	</section>