<!-- Header -->
<div id="header">
	<h1 id="logo"><a href="{{ site.url | append: site.baseurl}}" class="logo-header logo-header-sm"></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
			<li><a href="{{ '/index.html#news' | relative_url }}">News</a></li>
			<li><a href="{{ '/index.html#about' | relative_url }}">About</a></li>
			<li><a href="{{ '/index.html#contribute' | relative_url }}">Contribute</a></li>
{% for menu in (1..10) %}{% for my_page in site.pages %}{% if my_page.menu == menu %}
			<li><a href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a></li>
{% endif %}{% endfor %}{% endfor %}
		</ul>
	</nav>
</div>

