<!-- Footer -->
	<div id="footer">
        <div class="container">
            <section class="special">
			{% for footer in site.footer %}
				<h3>{{ footer.title }}</h3>

			{{ footer.content }}
			{% endfor %}

            </section>
        </div>
	</div>

	<!-- Scripts -->
	<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/combined.min.js' | relative_url }}"></script>
	<!--[if lte IE 8]><script async src="{{ '/assets/js/respond.min.js' | relative_url }}"></script><![endif]-->
	<noscript>Your browser does not support JavaScript!</noscript>
	
	<!-- Microdata -->
	<script type="application/ld+json">
	[
			{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": "{{ site.title }}",
			"url": "{{ site.url | append: site.baseurl }}",
			"keywords": "{{ site.keywords }}",
			"description": "{{ site.description }}"
		},
		{
			"@context": "http://schema.org/",
			"@type": "SoftwareApplication",
			"name": "{{ site.title }}",
			"url": "{{ site.url }}",
			"downloadUrl": "{{ '/downloads/' | absolute_url }}",
			"description": "{{ site.description }}",
			"applicationCategory": "Browser",
			"operatingSystem": [ "{{ page.structured-data.os1 }}", "{{ page.structured-data.os2 }}", "{{ page.structured-data.os3 }}", "{{ page.structured-data.os4 }}", "{{ page.structured-data.os5 }}", "{{ page.structured-data.os6 }}", "{{ page.structured-data.os7 }}", "{{ page.structured-data.os8 }}", "{{ page.structured-data.os9 }}", "{{ page.structured-data.os10 }}"
			], 
			"aggregateRating": {
				"@type": "AggregateRating",
				"ratingValue": "{{ page.structured-data.value }}",
				"bestRating" : "5",
				"ratingCount": "{{ page.structured-data.count }}"
			},
			"image": {
				"@type": "ImageObject",
				"height": "200",
				"width": "200",
				"contentUrl": "{{ site.hotpic | absolute_url }}",
				"url": "{{ site.url | append: site.baseurl}}"
			},
			"offers": {
			"@type": "Offer",
			"priceCurrency": "EUR",
			"price": "0.00"		
			}
		},
		{ 
			"@context": "http://schema.org",
			"@type": "Product",
			"aggregateRating": {
				"@type": "AggregateRating",
				"ratingValue": "{{ page.structured-data.value }}",
				"bestRating" : "5",
				"ratingCount": "{{ page.structured-data.count }}"
			},
			"name": "{{ site.title }}",
			"url": "{{ site.url | append: site.baseurl}}",
			"description": "{{ site.description }}",
			"image": {
				"@type": "ImageObject",
				"height": "200",
				"width": "200",
				"contentUrl": "{{ site.hotpic | absolute_url }}",
				"url": "{{ site.url | append: site.baseurl}}"
			},
			"offers": {
				"@type": "Offer",
				"priceCurrency": "EUR",
				"price": "0.00"		
			}
		}
	]
	</script>
