---
layout: layout_default
---
<!-- Contribute -->
	<section class="wrapper {{ page.style }} special" id="{{ page.id }}">
		<div class="container">
			<header class="major">{% for contribute in site.contribute limit:1 %}
				<h2>{{ contribute.title }}</h2>
				<p>{{ contribute.subtitle }}</p>{% endfor %}
			</header>{% 
			for contribute in site.contribute %}
			<div class="row">
				<div class="col-2 col-2-xlarge col-3-large col-12-small">
					<div class="icon {{ contribute.icon-class }}"></div>
				</div>
				<div class="col-10 col-10-xlarge col-9-large col-12-small content">
					<h3>{{ contribute.heading }}</h3>
					{{ contribute.content | strip_newlines }}
				</div>
			</div>{% 
			endfor %}
		</div>
	</section>