---
layout:				layout_default
---
		<!-- Contribute -->
			<section id="{{ page.id }}" class="main {{ page.style }}">{% 
			for contribute in site.contribute limit:1 %}
				<header>
					<h2>{{ contribute.title }}</h2>
					<p>{{ contribute.subtitle }}</p>
				</header>{% 
			endfor %}
				<div class="inner">{% 
				for contribute in site.contribute offset:1 %}
					<section class="feature {{ contribute.position }}">
						<span class="image icon {{ contribute.icon-class }}"><img src="{{ contribute.img-src | prepend: 'assets/images/contribute/' | relative_url }}" alt="" /></span>
						<div class="content">
							<h3>{{ contribute.title }}</h3>
							{{ contribute.content | strip_newlines }}
						</div>
					</section>{% 
				endfor %}
				</div>
			</section>