---
layout: downloads-layout
---

<section class="wrapper {{ page.style }} special" id="{{ page.id }}">
    <div class="container">
		<header class="major">
			<h2>{{ page.title }}</h2>
		</header>
		<div class="{{ page.icon-class }}"></div>
		<header>
			<h3>{{ page.OS }}</h3>
			<p>current version {{ page.version }}<br/>
			<small>(based on Chromium {{ page.chromium }})</small></p>
		</header>
		<div class="container 75%">
			{{ content }}
		</div>
		<p>System requirements:<br/>
		{% for sys-reqs in page.sys-reqs %}
			&#8226; {{ sys-reqs }}<br/>
		{% endfor %}</p>
    </div>
</section>