<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

<body>

	{% include header.html %}
	
	{{ content }}

	<!-- Scripts -->
	<script defer src="{{ '/assets/js/jquery-1.12.3.min.js' | relative_url }}"></script>
	<script defer src="{{ '/assets/js/combined-v1.0.min.js' | relative_url }}"></script>
	<script defer src="{{ '/assets/js/parser-forwarding.min.js' | relative_url }}" ></script>
	<!--[if lte IE 8]><script src="{{ '/assets/js/respond.min.js' | relative_url }}"></script><![endif]-->
	<noscript>Your browser does not support JavaScript!</noscript>

	{% include jsonld-downloads-index.html %}
	
</body>

</html>
