---
layout: layout_downloads
---
<!-- Windows  -->
	<section class="wrapper {{ page.style }} special" id="{{ page.id }}">
		<div class="container">
			<header class="major">
				<h2>{{ page.title }}</h2>
			</header>
			<div class="icon dl fa-windows"></div>
			<header>
				<h3>{{ page.OS }}</h3>
				<p>current version {{ page.version }}<br/>
				<small>(based on Chromium {{ page.chromium }})</small></p>
			</header>
			<div class="container w-50">
				<div class="row gtr-uniform gtr-100">
					<div class="col-12">
						<h4>Standard Version</h4>
					</div>
					<div class="col-6 col-12-small">
						<form action="{{ page.dl-url }}{% if page.dl-folder == null %}{{ page.version }}{% else %}{{ page.dl-folder }}{% endif %}{{ page.dl-file }}{{ page.version }}{{ page.dl-end-32 }}">
							<input type="submit" value="32-bit download" title="download 32-bit version" class="button small fit download icon fa-download">
						</form>
					</div>
					<div class="col-6 col-12-small">
						<form action="{{ page.dl-url }}{% if page.dl-folder == null %}{{ page.version }}{% else %}{{ page.dl-folder }}{% endif %}{{ page.dl-file }}{{ page.version }}{{ page.dl-end-64 }}">
							<input type="submit" value="64-bit download" title="download 64-bit version" class="button small fit download icon fa-download">
						</form>
					</div>
				</div>
				<div class="row portable gtr-uniform gtr-100">
					<div class="col-12">
						<h4>Portable Version *</h4>
					</div>
					<div class="col-6 col-12-small">
						<form action="{{ page.dl-url }}{% if page.dl-folder == null %}{{ page.version }}{% else %}{{ page.dl-folder }}{% endif %}{{ page.dl-file }}{{ page.version }}{{ page.dl-end-32port }}">
							<input type="submit" value="32-bit download" title="download portable 32-bit version" class="button small fit download-portable icon fa-download">
						</form>
					</div>
					<div class="col-6 col-12-small">
						<form action="{{ page.dl-url }}{% if page.dl-folder == null %}{{ page.version }}{% else %}{{ page.dl-folder }}{% endif %}{{ page.dl-file }}{{ page.version }}{{ page.dl-end-64port }}">
							<input type="submit" value="64-bit download" title="download portable 64-bit version" class="button small fit download-portable icon fa-download">
						</form>
					</div>
				</div>
			</div>
			<div class="box w-75">
	{{ content }}
			</div>
			<div class="container bottom-note">
				<p>If you are looking for previous versions, please check out the <a href="https://downloads.iridiumbrowser.de/windows/" title="go to build archive">build archive</a></p>
				<p>System requirements:<br/>{% 
				for sys-reqs in page.sys-reqs %}
					&#8226; {{ sys-reqs }}<br/>{% 
				endfor %}</p>
				<p>The Windows Installer is produced by <a href="http://www.advancedinstaller.com/" title="Advanced Installer">Advanced Installer</a></p>
			</div>
		</div>
	</section>