---
layout: layout_downloads
---
		<!-- Downloads macOS -->
			<section id="{{ page.page-id }}" class="main {{ page.style }}">
				<header>
					<h2>{{ page.title }}</h2>
					<span class="icon-os os {{ page.icon-class }} align-center"></span>
					<h3>{{ page.OS }}</h3>
					<p>current version {{ page.version }}<br/>
					<small>(based on Chromium {{ page.chromium }})</small></p>
				</header>
				<div class="inner align-center">
					<form action="{{ page.dl-url }}{% if page.dl-folder == null %}{{ page.version }}{% else %}{{ page.dl-folder }}{% endif %}{{ page.dl-file }}{{ page.version }}{{ page.dl-end }}">
						<button type="submit" title="download for macOS" class="button download">macOS download</button>
					</form>
					<div class="inner {{ page.width }} box align-center">
						{{ content }}
					</div>
					<br/>
					<div class="container bottom-note">
						<p>If you are looking for previous versions, please check out the <a href="https://downloads.iridiumbrowser.de/macos/" title="go to build archive">build archive</a></p>
						<p>System requirements:<br/>{% 
						for sys-reqs in page.sys-reqs %}
							&#8226; {{ sys-reqs }}<br/>{% 
						endfor %}</p>
					</div>
				</div>
			</section>