---
layout: layout_downloads
---
		<!-- Downloads source -->
			<section id="{{ page.page-id }}" class="main {{ page.style }}">
				<header class="accent4">
					<h2>{{ page.title }}</h2>
					<span class="icon os {{ page.icon-class }} align-center"></span>
					<h3>{{ page.OS }}</h3>
					<p><small>(based on Chromium {{ page.chromium }})</small><br/>
					{{ page.subtitle }}</p>
				</header>
				<div class="inner {{ page.width }} align-center">
{{ content | strip_newlines }}
				</div>
			</section>