---
layout: layout_downloads
---
		<!-- Downloads Windows -->
			<section id="{{ page.page-id }}" class="main {{ page.style }}">
				<header class="accent4">
					<h2>{{ page.title }}</h2>
					<span class="icon-os os {{ page.icon-class }} align-center"></span>
					<h3>{{ page.OS }}</h3>
					<p>current version {{ page.version }}<br/>
					<small>(based on Chromium {{ page.chromium }})</small></p>
				</header>
				<ul class="tabs">
					<li>
						<h3>Standard <span class="extra">version</span></h3>
						<div class="spotlight">
							<ul>
								<li>
									<form action="{{ page.dl-url }}{% if page.dl-folder == null %}{{ page.version }}{% else %}{{ page.dl-folder }}{% endif %}{{ page.dl-file }}{{ page.version }}{{ page.dl-end-32 }}">
										<button type="submit" title="download 32-bit version" class="button download">32-bit download</button>
									</form>
									
								</li>
							</ul>
							<h4 class="align-center">standard</h4>
							<ul>
								<li>
									<form action="{{ page.dl-url }}{% if page.dl-folder == null %}{{ page.version }}{% else %}{{ page.dl-folder }}{% endif %}{{ page.dl-file }}{{ page.version }}{{ page.dl-end-64 }}">
										<button type="submit" title="download 64-bit version" class="button download">64-bit download</button>
									</form>
									
								</li>
							</ul>
						</div>
					</li>
					<li>
						<h3>Portable <span class="extra">version</span></h3>
						<div class="spotlight">
							<ul>
								<li>
									<form action="{{ page.dl-url }}{% if page.dl-folder == null %}{{ page.version }}{% else %}{{ page.dl-folder }}{% endif %}{{ page.dl-file }}{{ page.version }}{{ page.dl-end-32port }}">
										<button type="submit" title="download portable 32-bit version" class="button download">32-bit download</button>
									</form>
								</li>
							</ul>
							<h4 class="align-center">portable *</h4>
							<ul>
								<li>
									<form action="{{ page.dl-url }}{% if page.dl-folder == null %}{{ page.version }}{% else %}{{ page.dl-folder }}{% endif %}{{ page.dl-file }}{{ page.version }}{{ page.dl-end-64port }}">
										<button type="submit" title="download portable 64-bit version" class="button download">64-bit download</button>
									</form>
								</li>
							</ul>
						</div>
						<div class="box note {{ page.width }}">
							{{ content }}
						</div>
					</li>
				</ul>
				<div class="inner align-center">
					<p>If you are looking for previous versions, please check out the <a href="https://downloads.iridiumbrowser.de/windows/" title="go to build archive">build archive</a></p>
					<p>System requirements:<br/>{% 
					for sys-reqs in page.sys-reqs %}
						&#8226; {{ sys-reqs }}<br/>{% 
					endfor %}</p>
					<p>The Windows Installer is produced by <a href="http://www.advancedinstaller.com/" title="Advanced Installer">Advanced Installer</a></p>
				</div>
			</section>