---
layout: layout_default
---
<!-- FAQ -->
	<section class="wrapper {{ page.style }}" id="{{ page.id }}">
		<div class="container">
			<header class="major special">
				<h2>{{ page.title }}</h2>
				<p>{{ page.subtitle }}</p>
			</header>
			<ul class="faq">{% for faq in site.faq %}
				<li>{% unless faq.title == "" %}
					<h3 class="icon fa-question-circle">{{ faq.title }}</h3>{% else %}{% endunless %}
					{{ faq.content | strip_newlines }}
				</li>{% 
			endfor %}
			</ul>
		</div>
	</section> 