<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="is-preload fade-in">
		<div id="wrapper">
{% include header.html %}
{{ content }}
{% include footer.html %}
		</div>
{% include js-scripts.html %}{% 
unless page.structured-data == 'no' or page.path contains 'downloads/index' %}
	<script type="application/ld+json">
{% include struct-data-downloads.json %}
	</script>{% else %} {% 	endunless %}{% 
if page.path contains 'downloads/index' %}
	<script type="application/ld+json">
{% include struct-data-downloads-index.json %}
	</script>{% 
endif %}
	</body>
</html>