---
layout: layout_post
---
<!-- Post -->
	<section id="news-post" class="wrapper {% if page.style %}{{ page.style }}{% endif %} special">
		<div class="container">
			<header class="major">
				<h2>News Post</h2>
			</header>
			<header>
				<h3>{{ page.title }}</h3>
				<p class="date icon fa-calendar">{{ page.date | date_to_long_string }}</p>
			</header>
			{{ content | strip_newlines}}
			<hr/>
			<table class="news-nav">
				<tbody>
					<tr>{% if post.categories contains "news" %}
						<td class="c1">{% if page.previous.url %}
							<a class="button small special" title="previous: '{{page.previous.title}}'" href="{{page.previous.url}}">&#10094;</a>{% endif %}
						</td>
						<td class="c2">
							<a class="button icon fa-archive special" href="{{ '/news/archive/' | relative_url }}" title="News Archive Index">News Archive</a>
						</td>
						<td class="c3">{% if page.next.url %}
							<a class="button small special" title="next: '{{page.next.title}}'" href="{{page.next.url}}">&#10095;</a>{% endif %}
						</td>
					{% endif %}</tr>
				</tbody>
			</table>
		</div>
	</section>