---
layout: default-layout
---
<article class="post" itemscope itemtype="http://schema.org/NewsArticle">
	<section id="news" class="wrapper style1 special">
		<div class="container">
		<header>
			<h3 class="post-title" itemprop="headline name"><h2>{{ page.title }}</h2></h3>
			<p class="post-meta"><small><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d-%b-%Y" }}</time><span itemprop="author">{% if page.author %} • {{ page.author }} {% endif %}</span></small></p>
		</header>
		<div class="post-content" itemprop="description articleBody">
			{{ content }}
		</div>

		<hr>
		<div class="row">
			<div class="3u align-left">{% if page.previous.url %}
			<a class="button small special" title="previous post" href="{{page.previous.url}}">&#10094;</a>{% endif %}&nbsp;</div>

			<div class="6u align-center"><a class="button small" href="../../../../news-archive.html" title="News Archive">News Archive</a></div>

			<div class="3u$ align-right">{% if page.next.url %} &nbsp;
			<a class="button small special" title="next post" href="{{page.next.url}}">&#10095;</a>{% endif %}</div>
		</div>
	</section>
</article>