---
layout:		layout_default
---
	<!-- Post -->
		<section id="news" class="main style2">
			<header class="major">
				<h2>News Post</h2>
			</header>
			<div class="inner w-75">
				<div class="post">
					<div>
						<article>
							<div class="content">
								<p class="icon fa-calendar small ">{{ page.date | date_to_long_string }}</p>
								<h3>{{ page.title }}</h3>
								<p>{{ content | strip_newlines }}</p>
							</div>
						</article>
					</div>
				</div>
				<div class="row gtr-uniform post-nav">{% 
				if page.categories contains "news" %}
					<div class="col-4 col-3-small prev">{% 
					if page.previous.url %}
						<a class="button prev" title="previous: '{{page.previous.title}}'" href="{{ page.previous.url | relative_url }}"></a>{% 
					endif %}
					</div>
					<div class="col-4 col-6-small archive align-center">
						<a class="button wht" href="{{ '/news/archive/' | relative_url }}" title="News Archive Index">News Archive</a>
					</div>
					<div class="col-4 col-3-small next">{% 
					if page.next.url %}
						<a class="button next" title="next: '{{page.next.title}}'" href="{{ page.next.url | relative_url }}"></a>{% 
					endif %}
					</div>{% 
				endif %}
				</div>
			</div>
		</section>