///
/// Back to top - souldanger.industries
///

/* Back to top - button */

	.back-to-top {
		@include vendor('transition', (
			'background-color #{_duration(transition-slow)} ease-in-out',
			'color #{_duration(transition-slow)} ease-in-out',
		));
		width: 2.75rem;
		height: 2.75rem;
		color: _palette(bg);
		line-height: 1.85rem;
		text-align: center;
		text-decoration: none;
		border: none;
		border-radius: 2.75rem;
		display: none;
		position: fixed;
		bottom: 1.1rem;
		right: 1.1rem;
		padding: .75rem .9rem;
		
		&:before {
			font-family: FontAwesome;
			font-size: 1.75rem;
			content: "\f0de";
		}
		&:hover {
			color: _palette(accent1,bg);
		}
	}
	.bg-back-to-top {
		background-color: transparentize(_palette(bg-dark),0.35);

		&:hover {
			background-color: _palette(bg-dark);
		}
	}