///
/// Transitions - souldanger.industries
///

/// On page load.

/* page fade-in */

	#fade-in, .fade-in {
		animation: fadeIn #{_duration(fade-in)};
		-webkit-animation: fadeIn #{_duration(fade-in)}; /* Safari and Chrome */
	}
	@include keyframes(fadeIn) {
		  0% { opacity:0.65; }
		100% { opacity:1; }
	}
	@mixin keyframes($name) {
		@-webkit-keyframes #{$name} {
			@content;
		}
		@keyframes #{$name} {
			@content;
		}
	}

/* enterprise - slide up */

	.ent-transition {
		.icon-ent-trans {
			@include vendor('transition', ( 
				'transform #{_duration(feature-icon)} ease'
			));
		}
		.text-ent-trans {
			@include vendor('transition', ( 
				'transform #{_duration(feature-icon)} ease',
			));
		}
		&.inactive {
			.icon-ent-trans {
				@include vendor('transform', 'translate3d(0, 2rem, 0)');
			}
			.text-ent-trans {
				@include vendor('transform', 'translate3d(0, 4rem, 0)');
			}
		}
	}


/// On scroll.

/* downloads - slide-up + fade */

	.dl-transition, .slide-up-fade {
		.icon-slide-up-fade {
			@include vendor('transition', ( 
				'transform #{_duration(feature-icon)} ease'
			));
		}
		.label-slide-up-fade {
			@include vendor('transition', ( 
				'transform #{_duration(feature-icon)} ease',
				'opacity #{_duration(feature-opacity)} ease'
			));
		}
		&.inactive {
			.icon-slide-up-fade {
				@include vendor('transform', 'translate3d(0, 2rem, 0)');
			}
			.label-slide-up-fade {
				@include vendor('transform', 'translate3d(0, 4rem, 0)');
				opacity: 0;
			}
		}
	}

/* news - slide-up + scale */

	.news-transition, .slide-up-scale {
		@include vendor('transition', ( 
			'transform #{_duration(feature)} ease',
			'opacity #{_duration(feature)} ease'
		));

		&.inactive {
			@include vendor('transform', 'scale(0.975) translateY(2rem)');
			opacity: 0.25;
		}
	}

/* about - slide-left-right + scale */

	.about-transition, .slide-lr-scale {
		@include vendor('transition', (
			'transform #{_duration(feature-icon)} ease',
			'opacity #{_duration(feature-opacity)} ease'
		));

		&.inactive {
			@include vendor('transform', 'translate3d(-1.5rem, 1.5rem, 1.5rem)');
			opacity: 0.25;
			
			&:nth-child(odd) { 
				@include vendor('transform', 'translate3d(1.5rem, 1.5rem, 1.5rem)');
			}
		}
	}

/* faq - slide-up */

	.faq-transition, .slide-up {
		@include vendor('transition', ( 
			'transform #{_duration(feature-icon)} ease',
			'opacity #{_duration(feature-opacity)} ease'
		));

		&.inactive {
			@include vendor('transform', 'translateY(2rem)');
			opacity: 0.5;
		}
	}